# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Database file
analysis_history.db

# IDE / Editor folders
.vscode/
.idea/

# Temporary files
uploads/

# spaCy training files
train.spacy
output/